.changebtn{
	border-radius: 10px;
}
.changebtn .active{
	color: #007AFF;
}

.smbtn{
	border-radius: 10px;
	color: rgb(204,204,204);
	height: 35px;
	line-height: 35px;
}
.smbtn .active{
	color: #007AFF;
}
.about{
	margin-top: 50px;
}
.about .img{
	margin: 50px auto;
}
.about .text{
	width: 425px;
}
.about .text p{
	margin: 0;
	text-indent: 2em;
	text-align: justify;
}
/* 项目规划 */
.plans .content{
	position: relative;
	margin-bottom: 60px;
}
.plans .line{
	position: absolute;
	height: 100%;
	width: 2px;
	background-color: #e3e3e3;
	left: 50%;
	top: 0;
	transform: translateX(-50%);
	margin: 0;
}
.plans_list{
	max-width: 720px;
	margin: 0 auto;
}
.plans_list .lgwidth{
	margin-top:70px;
	float: left;
	clear:both;
	width: 367px;
	position: relative;
	height: 87px;
}
.plans_list .mdwidth{
	margin-top:70px;
	float: left;
	clear:both;
	width: 353px;
	position: relative;
	height: 87px;
}
.plans_list .smwidth{
	margin-top:70px;
	float: left;
	clear:both;
	width: 222px;
	position: relative;
	height: 87px;
}
.plans_list .xswidth{
	margin-top:70px;
	float: left;
	clear:both;
	width: 200px;
	position: relative;
	height: 87px;
}
.plans_list li .public{
	position: absolute;
	right: 25px;
	top: 13px;
	color: rgb(204,204,204);
	max-width: 500px;
}
.plans_list li:nth-child(2n)>.public{
	right:auto;
	left: 72px;
}
.plans_list li .public h3{
	font-size: 30px;
	color: #00aaff;
	line-height: 44px;
	font-weight: bold;
	margin:0
}
.plans_list li .public p{
	margin-bottom: 10px;
	color: #00aaff;
	font-size: 18px;
	line-height: 1;
}
.plans_list li:after{
	content:"";
	position: absolute;
	width: 15px;
	height: 15px;
	background-color: #fff;
	border: 3px solid #00aaff;
	border-radius: 50%;
	top: 5px;
	right: 0;
	z-index: 2;
}
.plans_list li:hover:after{
	width: 25px;
	height: 25px;
	right: -5px;
	top: 0px;
	background-color: #00aaff;
}
.plans_list li:hover:before{
	height: 45px;
	width: 26px;
	top: -10px;
	right: -5px;
}
.plans_list li:nth-child(2n):hover:after{
	left: -5px;
}
.plans_list li:nth-child(2n):after{
	left: 0;
}
.plans_list li:before{
	content:"";
	width: 15px;
	height: 25px;
	background-color: #fff;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 1;
}
.plans_list li:nth-child(2n):before{
	left: 0;
}
.plans_list li:nth-child(2n-1){
	float: left;
}
.plans_list li:nth-child(2n){
	float: right;
}

.plans_list li:hover .public h3{
	color: #00aaff;
}
.plans_list li:hover .public p{
	color: #00aaff;
}

@media (min-width:1200px){
	.about .text h2{
		margin-top:73px;
		margin-bottom: 42px;
	}
	.title img{
		width: 507px;
		margin: 50px 0  30px 0;
	}
	#map{
		height: 520px;
	}
	.contact .container{
		max-width: 938px;
		padding:0;
	}
}
@media (max-width:1199px) and (min-width:992px) {	
	.about .text h2{
		margin-top:60px;
		margin-bottom: 36px;
	}
}

@media (max-width:991px) and (min-width:768px) {
	.about .text h2{
		margin-top:40px;
		margin-bottom: 26px;
	}
	.form_msg .code_img{
		margin-left: 0;
	}
	.form_msg #code{
		flex-basis: auto;
		flex-grow: 1;
	}
	.form_msg #code+div{
		margin-left: 76px;
		margin-top: 16px;
	}
	.about .text h2{
		margin-top:60px;
		margin-bottom: 36px;
	}
}
@media (min-width:768px){
	.about .row .img{
		padding:0;
	}
}
@media (max-width:767px) and (min-width:576px) {
	.about .text h2{
		margin-top:20px;
		margin-bottom: 16px;
	}
}
@media (max-width:768px){
	.poster-main{ position:relative;width:800px;height:270px; margin: 10px auto 20px;}
	.poster-main a,.poster-main img{display:block;}
	.poster-main .poster-list{width:800px;height:270px;}
	.poster-main .poster-list .poster-item{ position:absolute;left:0;top:0;}
	.poster-main .poster-btn{ position:absolute;top:0; width:300px; height:270px; z-index:10; cursor:pointer;}
	.poster-main .poster-prev-btn{left:0;}
	.poster-main .poster-next-btn{right:0;}
	.J_Poster ul>li{
		position:relative;
	}  
	.J_Poster ul>li .mask{
		position:absolute;
		width: 100%;
		height: 100%;
		left:0;
		top: 0;
		background-color: rgba(0,0,0,.6);
	} 
	.J_Poster ul>li>a{
		width:100%;
		height: 100%;
	}
	.J_Poster ul>li p{
		margin:0;
		position: absolute;
		height: 20px;
		background-color: #000;
		bottom:0;
		text-wrap:unset ;
		width: 100%;
		text-align: center;
		line-height: 20px;
	}
	.J_Poster ul>li p a{
		color: #fff;
		font-size: 12px;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
}


/* 1200-576 */
@media (max-width:1199px) and (min-width:576px) {
	.title img{
		width: 432px;
		margin: 43px 0  25px 0;
	}
}

@media (min-width:576px) {
	.about .text h2{
		font-size: 24px;
	}
	.about .text p{
		font-size: 14px;
		line-height: 24px;
		color: #bcbaba;
	}
	.toplg{
		margin-top: 40px!important;
	}
	.ml-100{
		margin-left: 100px;
	}
}
@media (max-width:575px) {
	.about .text h2{
		font-size: 24px;
	}
	.about .text p{
		font-size: 14px;
		line-height: 24px;
		color: #bcbaba;
	}
	.about .row .img{
		text-align: center;
	}
	.about .row .img img{
		width:200px;
	}
	.about .text-sm h3{
		font-size: 14px;
		margin-top: 20px;
		color: #bcbaba;
	}
	.about .text-sm p{
		font-size: 12px;
		color: #bcbaba;
		line-height: 16px;
		text-align: justify;
		padding: 10px;
	}
	.title img{
		max-width: 250px;
		margin: 15px 0  10px 0;
	}
	.sm-pro-list .col-6{
		padding:7px;
	}
	.sm-pro-list .col-6:nth-child(2n){
		padding-left:2px;
	}
	.sm-pro-list .col-6:nth-child(2n-1){
		padding-right:2px;
	}
}

/* 时间轴576以下 */
* {
	box-sizing: border-box;
}
.timeline {
	position: relative;
	max-width: 800px;
	margin: 0 auto;
	padding-top: 20px;
	background-color: inherit;
}
.timeline{
	list-style: none;
}
.timeline:after {
	content: '';
	position: absolute;
	width: 5px;
	background-color: #0065b3;
	left: 52.5%;
	top: 0;
	bottom: 0;
	margin-left: -2px;
}
.timeline--first:after {
	top: 20px;
}
.era {
	text-align: center;
	position: relative;
	z-index: 1;
	padding-bottom: 20px;
}
.era__title {
	background-color: #0065b3;
	color: #fff;
	display: inline-block;
	padding: 10px 20px;
}
.entry {
	padding: 10px 30px 40px 30px;
	width: 50%;
	position: relative;
	background-color: inherit;
}
.entry--right {
	margin-left: 50%;
}
.entry__content {
	padding: 20px;
	background-color: white;
	position: relative;
	width: 200px;
	right: 10px;
}
.entry__content h3{
		font-size: 30px;
		color: #00aaff;
		line-height: 44px;
		font-weight: bold;
		margin:0
	}
	.entry__content p{
		margin-bottom: 10px;
		color: #00aaff;
		font-size: 18px;
		line-height: 1;
	}
.entry:before {
	content: " ";
	height: 0;
	position: absolute;
	top: 20px;
	width: 0;
	z-index: 1;
}
.entry--left:before {
	right: 22px;
	border: medium solid transparent;
	border-width: 8px 0 8px 8px;
	border-color: transparent transparent transparent white;
}
.entry--right:before {
	left: 22px;
	margin-left: 0;
	border: medium solid transparent;
	border-width: 8px 8px 8px 0;
	border-color: transparent white transparent transparent;
}
.entry:after {
	content: '';
	position: absolute;
	width: 20px;
	height: 20px;
	right: -3.75px;
	background-color: white;
	border: 4px solid #0065b3;
	top: 50px;
	border-radius: 50%;
	z-index: 1;
}
.entry--right:after {
	right: auto;
	left: -16.75px;
}
h2 {
	margin-bottom: 0.5em;
	font-family: sans-serif;
	font-size: 1.2em;
}
p {
	font-family: sans-serif;
	line-height: 1.4;
}
@media all and (max-width: 500px) {
	.timeline:after {
		left: 33.75px;
		color: #00aaff!important;
	}
	.era {
		text-align: left;
		padding-left: 31.875px;
	}
	.entry {
		width: 100%;
		margin-left: -31px;
		padding-left: 64px;
		padding-right: 20px;
	}
	.entry:before {
		right: auto;
		left: 56px;
		margin-left: 0;
		border: medium solid transparent;
		border-width: 8px 8px 8px 0;
		border-color: transparent white transparent transparent;
	}
	.entry:after {
		left: 15px;
	}
	.entry__contenth3{
		font-size: 30px;
		color: #00aaff;
		line-height: 44px;
		font-weight: bold;
		margin:0
	}
	.entry__content p{
		margin-bottom: 10px;
		color: #00aaff;
		font-size: 18px;
		line-height: 1;
	}
}
